body{
    background-color: #292929;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button{
    color: blue;
    background-color: yellow;
    width: 100px;
    height: 50px;
}